<!DOCTYPE html>
    <section class="mx-auto mt-5 ml-20 flex">
    <a href="/"><img
      src="images/memlogo.png"
      class="justify-center mx-auto w-8/12"
      alt="logo-img">
    </a>
    </section>
    <section
      x-data="{menuActive: false}"
      class="flex flex-wrap flex-row justify-between lg:items-center lg:space-x-4 bg-gray-800 px-12 py-4 my-4 mx-auto shadow-2xl w-11/12 rounded-lg border-2"
      @click.away="menuActive=false"
    >
    <div class="lg:hidden text-3xl text-yellow-300 text-left" :class="{'hidden': menuActive}">
        <%= name(@view_template) %>
      </div>
      <nav 
        class="text-2xl relative right-10 lg:top-0 z-20 mt-1 lg:flex flex-col lg:flex-row lg:space-x-6 rounded-lg lg:rounded-none lg:shadow-none lg:bg-transparent p-6 lg:p-0"
        :class="{'flex': menuActive, 'hidden': !menuActive}"
        >
        <%= nav_link("reminisce", "Reminisce", @view_template) %>
        <%= nav_link("how", "How", @view_template) %>
        <%= nav_link("what", "What", @view_template) %>
        <%= nav_link("who", "Who", @view_template) %>
        <%= nav_link("testimonials", "Testimonials", @view_template) %>
        <a 
          class="rounded font-semibold ring-4 ring-bg-gray-50 bg-gray-800 text-gray-100 ml-5 px-2 py-1 hover:bg-gray-700 hover:text-blue-200" 
          href="/contact">
          Contact
        </a>
      </nav>
      <div class="lg:hidden tham tham-e-squeeze tham-w-6" :class="{'tham-active': menuActive}">
        <div class="tham-box" @click="menuActive = !menuActive">
          <div class="tham-inner bg-white" />
        </div>
      </div>
    </section>

    <section><%= @inner_content %></section>
